flows_SW-GBHA-TISL147.json
[{"type":"tab","id":"444dcac.fbbb234","label":"Sheet 1"},{"id":"e5d3a0af.1a2c6","type":"twitter-credentials","screen_name":"@nrstirzaker"},{"id":"91b687b6.6e4978","type":"sphero color","name":"SpheroYYG","port":"COM8","x":845,"y":436,"z":"444dcac.fbbb234","wires":[[]]},{"id":"bdba85b3.424578","type":"inject","name":"","topic":"","payload":"red","payloadType":"string","repeat":"","crontab":"","once":false,"x":158,"y":580,"z":"444dcac.fbbb234","wires":[["91b687b6.6e4978"]]},{"id":"7f7a2bda.8085d4","type":"inject","name":"","topic":"","payload":"green","payloadType":"string","repeat":"","crontab":"","once":false,"x":281,"y":163,"z":"444dcac.fbbb234","wires":[["3812cfb9.c7ed3"]]},{"id":"3812cfb9.c7ed3","type":"function","name":"colorWordToHex","func":"var color = msg.payload || '';\ncolor = color.toUpperCase()\nvar colorInHex;\nswitch(color) {\n    case 'RED':\n        colorInHex = '#FF0000';\n        break;\n    case 'BLUE':\n        colorInHex = '#6600FF';\n        break;\n    case 'YELLOW':\n        colorInHex = '#FFFF00';\n        break;\n    case 'ORANGE':\n        colorInHex = '#FFA500';\n        break; \n    case 'PURPLE':\n        colorInHex = '#912CEE';\n        break;  \n    case 'GREEN':\n        colorInHex = '#008141';\n        break;         \n    default:\n        colorInHex = '#000000';\n}\nvar response = {payload: colorInHex};\nnode.send( response );\n","outputs":1,"noerr":0,"x":450,"y":161,"z":"444dcac.fbbb234","wires":[["26ce5b9d.d931a4"]]},{"id":"26ce5b9d.d931a4","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":679,"y":160,"z":"444dcac.fbbb234","wires":[]},{"id":"ff15892.f00ea78","type":"function","name":"parseTwitterMessage","func":"var tweet  = msg.payload || '';\nvar msgParts = tweet.split(' ');\nif (msgParts.length < 2){\n    return 'flashred'\n}\nvar response = { payload : msgParts[2] }\nreturn response;","outputs":1,"noerr":0,"x":303,"y":268,"z":"444dcac.fbbb234","wires":[["a6effe6e.591","b1c14b98.4e3eb8"]]},{"id":"ca3ba790.35c458","type":"inject","name":"","topic":"","payload":"@nrstirzaker #sphero color=blue","payloadType":"string","repeat":"","crontab":"","once":false,"x":128,"y":385,"z":"444dcac.fbbb234","wires":[["ff15892.f00ea78"]]},{"id":"bbcec06.f44314","type":"debug","name":"color","active":true,"console":"false","complete":"payload","x":934,"y":260,"z":"444dcac.fbbb234","wires":[]},{"id":"280d228e.d7f2de","type":"debug","name":"move","active":true,"console":"false","complete":"payload","x":928,"y":390,"z":"444dcac.fbbb234","wires":[]},{"id":"6333570.f9ccca8","type":"debug","name":"spin","active":true,"console":"false","complete":"payload","x":927,"y":326,"z":"444dcac.fbbb234","wires":[]},{"id":"a6effe6e.591","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":517,"y":411,"z":"444dcac.fbbb234","wires":[]},{"id":"b1c14b98.4e3eb8","type":"function","name":"commandSwitcher","func":"var commandValuePair = msg.payload || '';\nvar commandAndValue = commandValuePair.toUpperCase().split('=');\n\nconsole.log('commandValuePair: ' + commandValuePair);\nconsole.log('commandAndValue.length: ' + commandAndValue.length);\n\nif (commandAndValue.length != 2){\n    return ['ERROR1',null,null];\n}\n\nvar command = commandAndValue[0];\nvar value = commandAndValue[1];\n\nvar nullMsg = {payload : null };\nvar valueMsg = {payload : value };\nvar errorMsg = {payload : \"ERROR\" };\n\nswitch(command) {\n    case 'COLOR':\n        return [valueMsg,nullMsg,nullMsg];\n    case 'ROTATE':\n        return [nullMsg,valueMsg,nullMsg];\n    case 'MOVE':\n        return [nullMsg,nullMsg,valueMsg];\n    default:\n        return [errorMsg,nullMsg,nullMsg];\n}\n\n","outputs":"3","noerr":0,"x":590,"y":278,"z":"444dcac.fbbb234","wires":[["bbcec06.f44314"],["6333570.f9ccca8"],["280d228e.d7f2de"]]},{"id":"dac9fea6.2536","type":"twitter in","twitter":"e5d3a0af.1a2c6","tags":"#sphero","user":"false","name":"","topic":"tweets","x":91,"y":238,"z":"444dcac.fbbb234","wires":[["ff15892.f00ea78"]]},{"id":"9f47c050.60b84","type":"debug","name":"","active":true,"console":"false","complete":"false","x":291,"y":100,"z":"444dcac.fbbb234","wires":[]},{"id":"7e173c28.81e8c4","type":"http in","name":"Twilio In","url":"http://pi.is-a-geek.net/twiliosms url","method":"get","swaggerDoc":"","x":476,"y":562,"z":"444dcac.fbbb234","wires":[["b68d36bf.4972c8","cdcd09e.f3232f8"]]},{"id":"b68d36bf.4972c8","type":"debug","name":"","active":true,"console":"false","complete":"true","x":792,"y":553,"z":"444dcac.fbbb234","wires":[]},{"id":"21460646.deb9fa","type":"http response","name":"Twilio Out","x":829,"y":628,"z":"444dcac.fbbb234","wires":[]},{"id":"d43dbae2.2bc248","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":264,"y":479,"z":"444dcac.fbbb234","wires":[[]]},{"id":"cdcd09e.f3232f8","type":"function","name":"","func":"var msg = {payload:'',statusCode : 200}\nreturn msg;","outputs":1,"noerr":0,"x":658,"y":596,"z":"444dcac.fbbb234","wires":[["21460646.deb9fa"]]},{"id":"8446d78b.7bb928","type":"function","name":"ensureHexOutput","func":"var msg = msg.payload || '#000000';\nvar isItHex = /(^#[0-9A-F]{6}$)|(^#[0-9A-F]{3}$)/i.test(color);\nif (!isItHex){\n    \n}\nvar response = {payload: isItHex }\nreturn response;","outputs":1,"noerr":0,"x":612,"y":53,"z":"444dcac.fbbb234","wires":[[]]}]